$light: #ddd;

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#tetris {
  width: 300px;
  height: 600px;
  flex: 0;
}

#input-area {
  display: flex;
  border: 2px solid $light;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#keyboard {
  border-right: 2px solid $light;
  display: flex;
  flex-direction: column;
  width: 212px;
}

hr {
  border-style: none;
  height: 1px;
  background: #ccc;
}

#instructions {
  text-align: left;
  font-size: 12px;
  padding: 8px;
  flex: 0;
}

#letters {
  padding: 4px;
  flex: 1;
  > span {
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    border: 2px solid $light;
    width: 30px;
    box-sizing: border-box;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 1em;
    vertical-align: top;
    position: relative;
    &.letter-selected {
      font-weight: bold;
      background: $light;
    }
    > span {
      position: absolute;
      top: 1px;
      right: 1px;
      font-size: 8px;
      line-height: 10px;
      color: #aaa;
    }
    &[data-letter="Submit"],
    &[data-letter="Clear"] {
      width: 64px;
    }
  }
}

#output-area {
  font-size: 40px;
  border: 2px solid $light;
  padding: 4px 12px;
  border-bottom-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  #output-placeholder {
    color: #ccc;
  }
}

#up-next {
  border: 2px solid $light;
  border-radius: 5px;
  margin: 6px;
  margin-top: 0;
  color: #aaa;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  #up-next-title {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 12px;
  }
  #preview {
    width: 80px;
    height: 80px;
  }
}
